/* 边距 */
// 自定义边距数组
$spacing-list: (16, 24);

// 循环间隔5px，例如margin:0px; margin:5px;...
$spacing-size: 0;
@while $spacing-size<50 {
  $spacing-list: append($spacing-list, $spacing-size);
  $spacing-size: $spacing-size+5;
}

@each $label,$value in $spacing-list {
  .m-#{$label} {
    margin: $label * 0.1rem !important;
  }
  .mt-#{$label} {
    margin-top: $label * 0.1rem !important;
  }
  .mb-#{$label} {
    margin-bottom: $label * 0.1rem !important;
  }
  .ml-#{$label} {
    margin-left: $label * 0.1rem !important;
  }
  .mr-#{$label} {
    margin-right: $label * 0.1rem !important;
  }
  .p-#{$label} {
    padding: $label * 0.1rem !important;
  }
  .pt-#{$label} {
    padding-top: $label * 0.1rem !important;
  }
  .pb-#{$label} {
    padding-bottom: $label * 0.1rem !important;
  }
  .pl-#{$label} {
    padding-left: $label * 0.1rem !important;
  }
  .pr-#{$label} {
    padding-right: $label * 0.1rem !important;
  }
}