/*
  flex布局
*/
@mixin flex-center($flexDirection: row, $flexWrap: nowrap, $alignItems: center){
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: center;
  align-items: $alignItems;
}

@mixin flex-start($flexDirection: row, $flexWrap: nowrap, $alignItems: center){
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: flex-start;
  align-items: $alignItems;
}
@mixin flex-end($flexDirection: row, $flexWrap: nowrap, $alignItems: center){
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: flex-end;
  align-items: $alignItems;
}

@mixin flex-between($flexDirection: row, $flexWrap: nowrap, $alignItems: center){
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: space-between;
  align-items: $alignItems;
}

@mixin flex-around($flexDirection: row, $flexWrap: nowrap, $alignItems: center){
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: flex-around;
  align-items: $alignItems;
}

/*
  多行文本溢出
*/
@mixin ellipsisBasic($clamp:1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
}

/*居中布局 主要用于图片盒子*/
@mixin centerBox($block: img){
  position: relative;
  overflow: hidden;
  & >#{$block}{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin phone {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin ipad {
  @media (min-width: 501px) and (max-width: 1024px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 1025px) {
    @content;
  }
}

/*圆角button*/
@mixin round-button($bgc: #fff, $size: 'default'){
  box-sizing: border-box;
  border-radius: 48rem;
  color: $green_1;
  background-color: $bgc;
  text-align: center;
  padding-left: 0;
  width: auto;
  @if $size == 'mini'{
    font-size: 10px;
    font-weight: 400;
    padding: 4rem 0;
    height: 40rem;
    line-height: 32rem;
  }
  @else if $size == 'small'{
    font-size: 10px;
    font-weight: 400;
    padding: 6rem 16rem;
    height: 48rem;
    line-height: 36rem;
  }
  @else if $size == 'medium'{
    font-size: 14px;
    font-weight: 600;
    padding: 0.6rem 8rem;
    height: 60rem;
    line-height: 48rem;
  }
  @else if $size == 'default'{
    font-size: 14px;
    font-weight: 600;
    padding: 0.8rem 5rem;
    height: 7rem;
    line-height: 56rem;
  }
  @include ellipsisBasic;
  > .button-icon{
    width: 36rem;
    height: 36rem;
    margin-right: 12rem;
    vertical-align: middle;
  }
  > text{
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin roundCell($bgc: var(--Black_2)){
  background-color: $bgc;
  border-radius: 40rem;
}