$font: 'KuaiLe';

// color
$gray_1: #C0C0C0;
$pink_1: #EAD3DE;
$green_1: #156669;
$white_1: #EEECDE;

// size
$size_10: 1rem;
$size_12: 1.2rem;
$size_14: 1.4rem;
$size_16: 1.6rem;
$size_18: 1.8rem;




