@import '@/styles/atom.scss';
html{
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variation-settings: normal;
  line-height: 1;
  tab-size: 4;
  font-size: 62.5%;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

#app{
  height: 100%;
}
.container{
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.round-button{
  @include round-button;
}

//输入框
.input-container{
  width: 100%;
  border-radius: 1.5rem;
  border: 0.2rem solid $gray_1;
  box-sizing: border-box;
  position: relative;
  align-self: flex-end;
  overflow: hidden;
  
  .chat-input{
    width: 100%;
    border: none;
    background: none;
    font-size: $size_18;
    &.el-input{
      height: 5rem;
    }
    &.el-textarea{
      height: auto;
    }
    .el-input__wrapper,.is-focus{
      box-shadow: none;
    }
  }
  .send-button{
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    .fly-icon{
      width: 100%;
      height: 100%;
    }
  }
}

/* 边距 */
// 自定义边距数组
$spacing-list: (16, 24);

// 循环间隔5px，例如margin:0px; margin:5px;...
$spacing-size: 0;
@while $spacing-size<50 {
  $spacing-list: append($spacing-list, $spacing-size);
  $spacing-size: $spacing-size+1;
}

@each $label,$value in $spacing-list {
  .m-#{$label} {
    margin: $label * 0.1rem !important;
  }
  .mt-#{$label} {
    margin-top: $label * 0.1rem !important;
  }
  .mb-#{$label} {
    margin-bottom: $label * 0.1rem !important;
  }
  .ml-#{$label} {
    margin-left: $label * 0.1rem !important;
  }
  .mr-#{$label} {
    margin-right: $label * 0.1rem !important;
  }
  .p-#{$label} {
    padding: $label * 0.1rem !important;
  }
  .pt-#{$label} {
    padding-top: $label * 0.1rem !important;
  }
  .pb-#{$label} {
    padding-bottom: $label * 0.1rem !important;
  }
  .pl-#{$label} {
    padding-left: $label * 0.1rem !important;
  }
  .pr-#{$label} {
    padding-right: $label * 0.1rem !important;
  }
}

/* 边距 */



/* 布局 */
.bg-box{
  width: 100%;
  height: 100%;
  padding: 8rem 12rem 11rem 12rem;
  box-sizing: border-box;
  @include phone{
    padding: 2rem 2rem;
  }
}
.container-box{
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  @include phone{
    padding: 0 2rem;
  }
}
/* 布局 */


/* 定位 */
.centerBox{
  @include centerBox;
}
/* 定位 */

/* reset */
input, textarea{
  // font-family: KuaiLe;
  text-indent: 1em;
}
::-webkit-input-placeholder {
  color: $gray_1;
}

/*feedBack*/
.feedback-bg.bg-box{
  // background: url('@/assets/images/feedback-bg.png') no-repeat center;
  // background-size: 100% 100%;
  background: rgb(255,164,237);
  background: linear-gradient(130deg, rgba(255,164,237,1) 0%, rgba(255,221,236,1) 100%);
}
/*feedBack*/

/*intro*/
.intro-bg.bg-box{
  // background: url('@/assets/images/intro-bg.png') no-repeat center;
  // background-size: 100% 100%;
  background: rgb(255,164,237);
  background: linear-gradient(130deg, rgba(255,164,237,1) 0%, rgba(255,221,236,1) 100%);
}
/*intro*/