:root{
  /*color*/
  --gray-1: #C0C0C0;
  --pink-1: #EAD3DE;
  --pink-02: #FF6AF0;
  --pink-3: #FF98F5;
  --pink-04: #F18FDB;
  --green-1: #156669;
  --white-1: #EEECDE;
  --pink-01: #FFDFFC;
  --text-01: rgba(0, 0, 0, 1);
  --text-02: rgba(0, 0, 0, 0.80);
  --text-03: rgba(0, 0, 0, 0.60);
  --text-04: rgba(0, 0, 0, 0.40);
}
@font-face {
  font-family: 'RedHatDisplay';
  src: url('@/assets/font/RedHatDisplay-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
html{
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variation-settings: normal;
  line-height: 1;
  tab-size: 4;
  font-size: 10px;
}
@media screen and (max-width: 1440px){
  html{
    font-size: 8px;
  }
}

html, body{
  height: 100%;
}

body{
  line-height: inherit;
  margin: 0;
  font-size: 16px;
  font-family: 'RedHatDisplay';
}

#app{
  height: 100%;
  font-size: 16px;
}

.container-box{
  --at-apply: overflow-hidden wh-full flex-col-center box-border;
}
.bg-box {
  --at-apply: wh-full flex-col-center overflow-hidden;
  background: #FFDFFC;
  /* background: linear-gradient(130deg, rgba(255,164,237,1) 0%, rgba(255,221,236,1) 100%); */
}

.css1{
  background: linear-gradient(270deg, #d0e6a5, rgba(255,164,237,1));
  background-size: 400% 400%;
  -webkit-animation: AnimationName 15s ease forwards;
  -moz-animation: AnimationName 15s ease forwards;
  animation: AnimationName 15s ease forwards;
  /* background: linear-gradient(270deg, #d0e6a5, rgba(255,164,237,1)); */
}
.css2{
  background: linear-gradient(270deg, #ffdd94, #d0e6a5);
  background-size: 400% 400%;
  -webkit-animation: AnimationName2 15s ease forwards;
  -moz-animation: AnimationName2 15s ease forwards;
  animation: AnimationName2 15s ease forwards;
}
.css3{
  background: linear-gradient(270deg, #86e3ce, #ffdd94);
  background-size: 400% 400%;
  -webkit-animation: AnimationName3 15s ease forwards;
  -moz-animation: AnimationName3 15s ease forwards;
  animation: AnimationName3 15s ease forwards;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes AnimationName2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes AnimationName3 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*自定义组件*/
/*按钮*/
.l-btn-black{
  --at-apply: 
  decoration-none
  border-none
  cursor-pointer
  bg-black
  hover:bg-[rgba(0,0,0,0.8)]
  active:bg-[rgba(0,0,0,0.6)]
  disabled:bg-[rgba(0,0,0,0.4)]
  color-white;
}

/*居中图片盒子*/
.center-box {
  --at-apply: relative hidden;
}

.center-box > img {
  --un-translate-x: '-50%';
  --un-translate-y: '-50%';
  --at-apply: wh-full absolute left-50% top-50% transform-gpu;
}
/*自定义组件*/


.input-container{
  --at-apply: h-5.7rem b-rounded-15px box-border relative  overflow-hidden max-w-500 border-solid border-2 border-[--gray-1];
}

.chat-input{
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 18px;
  text-indent: 1em;
  color: var(--green-1);
}

.chat-input:focus{
  outline: none;
}

.send-button{
  --un-translate-y:-50%;
  --at-apply:  absolute right-30 top-50% transform-gpu;
}

/*reset ant design*/
:root .pink-checkbox .ant-checkbox-checked .ant-checkbox-inner{
  background-color: #F18FDB;
  border-color: #F18FDB;
}
:root .pink-checkbox .ant-checkbox-checked .ant-checkbox-inner{
  background-color: #F18FDB;
  border-color: #F18FDB;
}
:root .pink-checkbox.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner{
  background-color: #F18FDB;
  border-color: #F18FDB;
}
.ant-btn-default:not(:disabled):hover{
  color: #fff;
  border-color: transparent;
}
.ant-form-item .ant-form-item-explain, .ant-form-item .ant-form-item-extra{
  font-size: 12px;
}

.ant-message-notice .ant-message-notice-content{
  box-shadow: 0px 8px 28px 0px rgba(32, 22, 61, 0.10);
  border-radius: 6px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
  border-color: #FF6AF0;
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #FF6AF0;
}
.ant-checkbox-checked:after{
  border:none;
}

/*message*/
.customer-message{
  --at-apply: text-14px font-700;
}
.my-message-custom-content{
  --at-apply: flex-row-center;
}
.customer-message-info {
  color: #2F80ED;
}
.customer-message-success {
  color: #00B071;
}
.customer-message-warning {
  color: #F78D2C;
}
.customer-message-error {
  color: #FB2121;
}
/*message*/


/*input*/
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus{
  box-shadow: none;
}
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
  box-shadow: none;
}
.ant-input-affix-wrapper:focus{
  box-shadow: none;
}
/*input*/
.ant-tooltip .ant-tooltip-arrow::before{
  background-color: rgba(0, 0, 0, 0.6);
}
.ant-tooltip .ant-tooltip-inner{
  background-color: rgba(0, 0, 0, 0.6);
}
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow{
  top: 0.5px;
}
/*reset ant design*/

/*reset safari*/
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
/*reset safari*/

/*chat && profileCenter*/
.chat-panel-container{
  --at-apply: 
  w-108rem
  max-h-72rem
  h-[calc(100%-88px)]
  relative
  z-999
  mt-56px
}
.chat-panel{
  --at-apply: 
  wh-full
  flex-row-start
  rounded-24px
  overflow-hidden;
}
.jal-modal-bg{
  --at-apply:
  wh-full
  rounded-24px
  backdrop-blur-8px
  bg-[rgba(0,0,0,0.3)]
  absolute
  left-0
  top-0
  z-888;
}
.jal-modal{
  --at-apply:
  w-43.2rem
  bg-white
  absolute
  left-50%
  top-50%
  translate-x--50%
  translate-y--50%
  overflow-hidden
  rounded-12px
  z-999;
}
.jal-modal-main{
  --at-apply:
  w-full
  h-21.6rem
  flex-col-start
  pt-4.8rem;
}

.jal-modal-footer{
  --at-apply:
  w-full
  h-6.4rem;
}
.chat-panel > .nav-part {
  --at-apply: 
  bg-[rgba(255,255,255,0.75)]
  w-20rem
  self-start
  px-16px
  h-full
  backdrop-blur-11.5px
  ;
}
.chat-panel  .nav-part-tablist {
  --at-apply: 
  p-0
  mb-0
  w-full
  list-none
  overflow-y-auto
  h-[calc(100%-88px)]
  mt-32px;
}
.chat-panel  .nav-part-tablist > li {
  --at-apply: rounded-6px text-14px py-16px px-8px flex-row-between cursor-pointer;
}
.chat-panel  .nav-part-tablist > li.press {
  background: linear-gradient(90deg, #FCD3FF 22.92%, rgba(255, 255, 255, 0.00) 100%);
}
.chat-panel  .nav-part-tablist > li:hover:not(.press, .disable) {
  background: linear-gradient(90deg, #FDE9FF 22.92%, rgba(255, 255, 255, 0.00) 100%);
}
.chat-panel  .nav-part-tablist > li.disable {
  --at-apply: color-#BABABA bg-none;
}
.chat-panel > .main-part {
  --at-apply: self-start w-88rem h-full flex-col-start relative;
}

.chat-panel > .main-part .header {
  --at-apply: w-full py-12px px-24px flex-row-start bg-white;
}
.chat-panel > .main-part .main {
  --at-apply: w-full h-[calc(100%-56px)] bg-#f2f2f2;
}
.chat-panel > .main-part .footer {
  --at-apply: 
  w-full
  h-10.4rem
  bg-#F8F8F8
  shadow-0px-4px-12px-0px
  flex-row-start
  absolute
  bottom-0
  right-0
  px-24px
  z-888;
  /* background: #F8F8F8;
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.02); */
}