@font-face {
  font-family: RedHatDisplay;
  src: url('./assets/font/RedHatDisplay.ttf');
}

:root {
  font-family: RedHatDisplay;
  font-weight: 400;
  font-size: calc(100vw / 37.5);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html, body, #app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/*message*/
.customer-message {
  --at-apply: text-14px font-700;
}

.my-message-custom-content {
  --at-apply: flex-row-center;
}

.customer-message-info {
  color: #2F80ED;
}

.customer-message-success {
  color: #00B071;
}

.customer-message-warning {
  color: #F78D2C;
}

.customer-message-error {
  color: #FB2121;
}

/*message*/